<!DOCTYPE html>
<html>
    <head>
        <title>Manuel Katopis | Developer</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
    </head>
    <body>

   <div class="ui fixed centered grid">
       <div class="twelve wide column">
           <div class="ui secondary  menu">
               <a class="item">
                   Friends
               </a>
               <div class="right menu">
                   <a class="ui item">
                       Say Hi!
                   </a>
               </div>
           </div>



