<% include ./partials/header %>

<div class="ui center aligned segment" id="main">
    <h1>Thanks for reaching out! How can I help you today?</h1>
    <img class="avatar" src="LMy_2tBH_400x400.jpg" alt="myself"> <!-- αποθηκευεται εντός του public folder -->
    <form class="ui form">
        <div class="fields">
            <div class="five wide field">
                <label>Name</label>
                <input type="text" placeholder="Name">
            </div>
            <div class="five wide field">
                <label>Email</label>
                <input type="text" placeholder="Email">
            </div>
        </div>
        <div class="ui form">
            <div class="field">
                <label>Text</label>
                <grammarly-ghost spellcheck="false"><div data-id="3c8ce1aa-ee4d-149c-554c-83ade89cc11c" data-gramm_id="3c8ce1aa-ee4d-149c-554c-83ade89cc11c" data-gramm="gramm" data-gramm_editor="true" class="gr_ver_2" gramm="true" contenteditable="true" style="position: absolute; color: transparent; overflow: hidden; white-space: pre-wrap; border-radius: 4px; box-sizing: border-box; height: 168px; width: 960px; margin: 23px 0px 0px; padding: 11px 14px; z-index: 0; border-width: 1px; border-style: solid; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255); top: 0px; left: 0px;"><span style="display: inline-block; font: 400 14px/17.9998px sans-serif; color: transparent; overflow: hidden; text-align: left; float: initial; clear: none; box-sizing: border-box; vertical-align: baseline; white-space: pre-wrap; width: 100%; margin: 0px; padding: 0px; border: 0px; letter-spacing: normal; text-shadow: none; height: 166px;"></span><br></div></grammarly-ghost><textarea data-gramm="true" data-txt_gramm_id="3c8ce1aa-ee4d-149c-554c-83ade89cc11c" data-gramm_id="3c8ce1aa-ee4d-149c-554c-83ade89cc11c" spellcheck="false" data-gramm_editor="true" style="z-index: auto; position: relative; line-height: 17.9998px; font-size: 14px; transition: none 0s ease 0s; background: transparent !important;"></textarea><grammarly-btn><div class="_1BN1N Kzi1t _2DJZN" style="z-index: 2; transform: translate(929px, 160px);"><div class="_1HjH7"><div title="Protected by Grammarly" class="_3qe6h">&nbsp;</div></div></div></grammarly-btn>
            </div>
        </div>
    </form>
    <button class="ui inverted green button">Submit!</button>
</div>

<% include ./partials/footer %>