<% include ./partials/header %>

<div class="ui center aligned segment" id="main">
    <h1>Front and Back-End Developer</h1>
    <h4>I create really simple websites, and that makes me happy!</h4>
    <img class="avatar" src="LMy_2tBH_400x400.jpg" alt="myself"> <!-- αποθηκευεται εντός του public folder -->
    <img class="render" src="https://helleniccdn-hellenictechnolo.netdna-ssl.com/wp-content/uploads/2018/05/jsno1.gif">
</div>

<% include ./partials/footer %>