<% include ./partials/header %>

<div class="ui center aligned segment" id="main">
    <h1>Front and Back-End Developer</h1>
    <h4>I create really simple websites, and that makes me happy!</h4>
    <img class="avatar" src="LMy_2tBH_400x400.jpg" alt="myself"> <!-- αποθηκευεται εντός του public folder -->
    <div class="icon">
        <div class="container">
            <img class="hero" src="hero-2-new.png" alt="code pic">
        </div>
        <div class="intro">
            <div class="container">
                <div class="summary">
                    <h3>Hey! I am Manuel. Nice to meet you!</h3>
                    <p>I am a freelancer web developer. I constantly try to improve myself, and to increase my knowledge, by taking courses and participating in hackathons. I have completed a number of projects that make me really proud of my work!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>