<% include ./partials/header %>

<div class="ui center aligned segment" id="main">
    <h1>Front and Back-End Developer</h1>
    <h4>I create really simple websites, and that makes me happy!</h4>
    <img class="avatar" src="LMy_2tBH_400x400.jpg" alt="myself"> <!-- αποθηκευεται εντός του public folder -->
    <div class="icon">
        <div class="container">
            <img class="hero" src="hero-2-new.png" alt="code pic">
        </div>
    </div>
        <div class="intro">
            <div class="container">
                <div class="summary">
                    <h3>Hey! I am Manuel. Nice to meet you!</h3>
                    <p>I am a freelancer web developer. I constantly try to improve myself, and to increase my knowledge, by taking courses and participating in hackathons. I have completed a number of projects that make me really proud of my work!</p>
                </div>
            </div>
        </div>
    <section class="bio">
            <div class="ui raised segment">
                <div class="image">
                    <i class="terminal huge icon"></i>
                </div>
                <div class="title">
                    <h4>Front and Back-end Web Developer</h4>
                    <p>I really enjoy to create things from nothing! It really gives me a sense of acomplishment!</p>
                </div>
                <div class="languages">
                    <h4>Languages that I speak:</h4>
                    <p>HTML, CSS, JavaScript, NodeJS, ExpressJS, ReactJS</p>
                </div>
                <div class="tools">
                    <h4>Dev Tools:</h4>
                    <ul>
                        <li>Atom</li>
                        <li>WebStorm</li>
                        <li>Bootstrap</li>
                        <li>Bulma</li>
                        <li>Semantic-UI</li>
                        <li>Codepen</li>
                        <li>GitHub</li>
                        <li>Terminal</li>
                    </ul>
                </div>
            </div>
    </section>
    <section class="work">
        <div>
            <h1>My Recent Work</h1>
            <p>Here you can have a look at some of my past projects. If you want to see more, don't hesitate to <a class="ui item">
                    <a href="/contact"><button class="ui inverted primary button">contact me!</button></a>
                </a></p>
        </div>
        <figure class="figurefx pushup">
            <img class="thumbnail" src="https://pixabay.com/get/e834b5062cf4033ed1584d05fb1d4e97e07ee3d21cac104491f8c37fafefbcb8_340.jpg">
            <figcaption>
                <p>A website that let's you see camprgounds, and their prices</p>
                <a href="https://fast-brook-91141.herokuapp.com/" target="_blank"><button class="ui inverted primary button">Visit Website</button></a>
            </figcaption>
        </figure>
    </section>
    <section class="action">
        <div class="ui raised segment">
            <div class="ui grid">
                <div class="five wide column"><h2>Start a Project</h2></div>
                <div class="five wide column"><p>Are you interested in working with me? Let's chat. The coffee is on me!</p></div>
                <div class="five wide column"><a href="/contact"><button class="ui inverted primary button">Let's do this!</button></a></div>
            </div>
        </div>
    </section>
    <section class="end">
        <a href="/"><i class="earlybirds icon massive"></i></a>
        <h3>Living, learning, and improving yourself everyday</h3>
        <div class="ui grid">
            <div class="one wide column"><a href="#" target="_blank"><i class="cc paypal huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="codepen huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="dropbox huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="facebook huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="font awesome huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="free code camp huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="github huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="google huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="goodreads huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="instagram huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="linkedin huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="skype huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="slack huge icon"></i></a></div>
            <div class="one wide column"><a href="#" target="_blank"><i class="tweeter huge icon"></i></a></div>
        </div>
    </section>
</div>

<% include ./partials/footer %>